* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.container {
    height: 100vh;
    background-size: cover;
    background-image: url(./images/image7.jpeg);
   
}
.company{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
   
}
.company label{
    margin-right:5px;
}
.company .name{
    font-size: 20px;
    color: orangered;

}
.company input{
    border-radius: 10px;
    height: 10px;
    padding: 5px;
    background-color: grey;
}
.company input[type="submit"]{
    background-color: orangered;
    height: 20px;
    color: white;
    border: none;    
}
.company a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}
.company a:hover {
     color: skyblue     
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content .details{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 200px;
    margin-left: 100px;
}
.content h1,p{
    color: white;
    padding: 5px;
}
button{
    background-color: orangered;
    border-radius: 10px;
    width: 100px;
   
    color: white;
    border: none;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.login{
    box-shadow: 0 0 10px white;
    padding: 20px;
    width: 250px;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    
}
.login .login-here{
    background-color: white;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: orange;
    margin: 10px auto;
}
.login .group label{
    color: white;
}
.login .group input{
    border: none;
    outline: none;
    margin: 10px;
    background-color: transparent;
    border-bottom: 3px solid orange ;
    width: 200px;
    padding: 10px;
    
}
::placeholder{
    color: white;
    padding-bottom:10px ;
}
.login button{
    background-color: transparent;
    border: none;
    background-color: orange;
    padding: 5px;
    width: 180px;
    border-radius: 10px;
    color: black;
    font-weight:bolder;
    margin-top: 10px;
    margin: 10px auto;
    text-align: center;
}
.login .group .collor{
color: lightsalmon;
font-weight: bolder;
}
.login .sgn{
    color: white;
   
    margin: 5px 40px;
}
.login .sgn .an{
    text-decoration: none;
    color: orange;
    margin: 5px 40px;
    
    
}